<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="container" style="margin-top: 1rem !important;">
    <div class="row">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
           <h4 style="color: black;">Dispatch Information</h4>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="input-group" style="padding-left: 1rem;">
                <input type="text" placeholder="&#xF002; Search" id="inputSearch" style="font-family:Arial, FontAwesome">
                <button class="btn btn-outline-secondary" type="button" id="filterButton">Filter</button>
              </div>
        </div>
    </div>
</div>
<div class="container col-12" style="margin-top: 1rem !important;">
            <div class="table-responsive" >
                <table class="table table-bordered" style="white-space: nowrap; padding: 0px;">
                    <thead>
                        <tr>
                            <th>Asset Catagory</th>
                            <th>Asset</th>
                            <th>Seriel Number</th>
                            <th>Allocated to </th>
                            <th>Dispatch Date</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr>                                
                            <td>Hadware</td>
                            <td>Laptop</td>
                            <td>0123</td>
                            <td>Akash-C001</td>
                            <td>27/01/2022</td>                 
                        </tr>
                        <tr>                            
                            <td>Software</td>
                            <td>OS</td>
                            <td>0985</td>
                            <td>Aryan-C002</td>
                            <td>27/01/2022</td>                            
                        </tr>
                        <tr>                               
                            <td>Hardware</td>
                            <td>Mouse</td>
                            <td>0765</td>
                            <td>Riya-C003</td>                            
                            <td>27/01/2022</td>                                                      
                        </tr>
                        <tr>                       
                            <td>Hardware</td>
                            <td>Laptop</td>
                            <td>0748</td>
                            <td>Mohit-C004</td>                               
                            <td>21/01/2022</td>                       
                        </tr>
                        <tr>
                            <td>Hardware</td>
                            <td>Multiple</td>
                            <td>0983</td>
                            <td>Harshita-C005</td>                               
                            <td>20/01/2022</td>                     
                        </tr>
                        <tr>
                            <td>Hardware</td>
                            <td>Earphones</td>
                            <td>0347</td>
                            <td>Ronit-C006</td>                              
                            <td>21/01/2022</td>                        
                        </tr>    
                        <tr>
                            <td>Hardware</td>
                            <td>Laptop</td>
                            <td>0875</td>
                            <td>Harsh-C007 </td>                                                               
                            <td>21/01/2022</td>                           
                        </tr>
                        <tr>
                            <td>Hardware</td>
                            <td>Keyboard</td>
                            <td>0132</td>
                            <td>Harshita-C008</td>                               
                            <td>19/01/2022</td>                      
                        </tr>
                    </tbody>                  
                </table>
            </div>
 </div>
